p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 180%;
}

#tabel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 220%;
    border-collapse: collapse;
    width: 100%;
}

#tabel td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabel tr:nth-child(even){
    background-color: #f2f2f2;
}

#tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}